# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php
._*

# Ignore paths that contain user-generated content.
sites/*/files
!sites/*/files/default_images
sites/*/private
profiles/*/themes/custom/frontend_bare/.sass-cache/
profiles/*/themes/custom/frontend_bare/Gemfile.lock

profiles/*/themes/custom/frontend_bare/css/*

profiles/*/themes/custom/frontend_bare/bower_components/
profiles/*/themes/custom/frontend_bare/node_modules/
profiles/*/themes/custom/frontend_bare/.vendor/bundle
