# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php
._*

# Ignore paths that contain user-generated content.
sites/*/files
!sites/*/files/default_images
sites/*/private
profiles/*/themes/custom/gtli_bare/.sass-cache/
profiles/*/themes/custom/gtli_bare/Gemfile.lock

profiles/*/themes/custom/gtli_bare/css/*
